.products-table {
    display: flex;
    
}

.product-img {
    width: 200px;
    height: 250px;
}



table .product-btn {
    width: 200px;
    padding: 8px;
    background-color: lightgreen;
    border-radius: 4px;
    cursor: pointer;
    border: none;

}

.nav-section {
    outline: 1px solid red;
}

.nav-section ul {
    width: 300px;
}

.nav-section ul li {
    list-style: none;
    background-color: lightgreen;
    margin-bottom: 10px;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

}